<div class="body">
  <div class="content-wrapper">
    <div class="painel-wrapper">
      <app-painel></app-painel>
    </div>
    <div class="tabela-wrapper">
      <app-tabela></app-tabela>
    </div>
  </div>
</div>
<!-- 

Exibir a informação de quantos aeronaves estão como não vendidos na base.
• Exibir a informação da distribuição de aeronaves por década de fabricação

Exemplo:
  - Década 1990 -> 15 aeronaves s
  - Década 2000 -> 31 aeronaves
• Exibir a informação de cadastros de aeronaves por fabricante.

Exemplo:
- Embraer -> 14 aeronaves
- Boeing -> 8 aeronaves

• Exibir as aeronaves registradas durante a última semana.

UPDATED E CREATED

GET /aeronaves/find
Retorna as aeronaves de acordo com o termo passado parâmetro

GET /aeronaves/{id}
Retorna os detalhes da aeronave

-->