.body{
    background-color: #f3f3f3;
    width: 100%;
    height: 100vh;
}

.content-wrapper{
    width: 1450px;
    /* height: 95vh; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    display: flex;
    flex-direction: row;
}

.painel-wrapper{
    padding: 1rem;
    flex: 1;
}

.tabela-wrapper{
    padding: 1rem;
    flex: 2;
}