<div class="painel-container">
    <h1>Gestão de Aeronaves</h1>
    <mat-form-field appearance="fill">
        <mat-label>Marca</mat-label>
        <mat-select>
            <mat-option value="option">Embraer</mat-option>
            <mat-option value="option">Boeing</mat-option>
            <mat-option value="option">Airbus</mat-option>
        </mat-select>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
        <mat-label>Aeronave</mat-label>
        <input matInput>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
        <mat-label>Ano</mat-label>
        <input matInput>
    </mat-form-field>

    <br>
    
    <mat-form-field appearance="fill">
        <mat-label>Disponibilidade</mat-label>
        <mat-select>
            <mat-option value="option">Vendido</mat-option>
            <mat-option value="option">Disponível</mat-option>
        </mat-select>
    </mat-form-field>

    <br>

    <button mat-raised-button>Registrar</button>
</div>